<section>
    <div class="container" [ngClass]="{'active': isregist}">
        <div class="user singinBx">
            <div class="imgBx"><img src="assets/images/p1.png" alt=""></div>
            <div class="formBx">
                <div class="logo">
                    <app-logo *ngIf="!isregist"></app-logo>
                </div>
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="doLogin()">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="userErrorTpl">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input formControlName="userName" placeholder="用户名/手机号/邮箱号" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="请输入密码!">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="password" placeholder="密码" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <div nz-row class="login-form-margin">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="remember">
                <span>记住密码</span>
              </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <a class="login-form-forgot">忘记密码？</a>
                        </div>
                    </div>
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">登 陆</button> 马上 <a (click)="goRegist()"> 注册!
          </a>
                </form>
            </div>
        </div>
        <div class="user singupBx">
            <div class="formBx">
                <div class="logo">
                    <app-logo *ngIf="isregist"></app-logo>
                </div>
                <form nz-form [formGroup]="validateRegisterForm" class="login-form" (ngSubmit)="doRegist()" autoComplete="nimabi">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl" autoComplete="nimabi">
                            <nz-input-group nzPrefixIcon="user" autoComplete="nimabi">
                                <input type="text" nz-input formControlName="userName" placeholder="用户名" autoComplete="nimabi" [readonly]="!isregist?'readonly':''" />
                            </nz-input-group>
                            <ng-template #userErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your username!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Please input vaild username!
                                </ng-container>
                                <!-- <ng-container *ngIf="control.hasError('duplicated')">
                                    The username is redundant!
                                </ng-container> -->
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="请输入密码!">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="password" placeholder="密码" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="passwordErrorTpl">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="confirmpassword" placeholder="确认密码" />
                            </nz-input-group>
                            <ng-template #passwordErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please confirm your password!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    Password is inconsistent!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">注 册</button> 立即 <a (click)="goRegist()"> 登陆! </a>
                </form>
            </div>
            <div class="imgBx"><img src="assets/images/p2.png" alt=""></div>
        </div>
    </div>
</section>



<!-- <div class="login-page">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入用户名或手机号!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" placeholder="用户名/手机号/邮箱号" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入密码!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember">
            <span>记住密码</span>
          </label>
            </div>
            <div nz-col [nzSpan]="12">
                <a class="login-form-forgot">忘记密码？</a>
            </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">登 陆</button> 马上 <a> 注册! </a>
    </form>
</div> -->